.top{
  text-align: center;
  background-color:#FFAC33;
  padding: 20px;
}
.top h1{
  font-size: 40px;
}
.column{
  float: left;
  width: auto;
  background:#eee;
  height: 100vh;
}
.main{
  color: #5557BC;
  padding-left: 50px;
}
